<!-- Layout: Full -->
{ALERTS}
<div class="main_content pb-5">
  <div class="page-title">
    <div id="site-navigation">
      <div class="container">
        <!--- Optional custom header template controlled by theme_shortcodes -->
        {---HEADER---}
      </div>
    </div>
    <div class="container">
      <!-- Page Heading/Breadcrumbs -->
      <div class="content-pagename d-flex justify-content-center py-5">
        <span>{---CAPTION---}</span>
      </div>
      <div class="content-breadcrumb d-flex justify-content-center">
        <span>{---BREADCRUMB---}</span>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="container">
      <div class="row">    
	    {SETSTYLE=main}  
{---}
      </div>
    </div>
  </div> 
</div>
